<h2>Create Your Own Recipe</h2>
<div class="instructions">
    <p>Create your own recipe from a list of your favorite items!</p>
</div>

<h3>Favorited Items</h3>

<form #checkboxForm="ngForm" (submit)="submitRecipe()">
    <div *ngFor="let fave of favorites; let i = index">
        <input type="checkbox" id="item{{i}}" name="item{{i}}" value="{{fave}}" [(ngModel)]="fave.checked">
        <label for="item{{i}}">
            <img src="{{fave.image}}" alt="{{fave.name}}">
        </label>
        <p>{{fave.name}}</p>
        <p>Checked: {{fave.checked}}</p>
        <!-- <p>{{fave | json}}</p> -->
    </div>

    
    <button type="submit">Submit Recipe</button>
</form>
