<h2>Create Your Own Recipe</h2>
<div class="instructions">
    <p>Create your own recipe from a list of your favorite items!</p>
</div>

<h3>Favorited Items</h3>
<ul>
    <li>
        <input type="checkbox">
        <!-- See if you can generate a custom input ID using the index property of a loop -->
        <label for="">
            <img src="https://via.placeholder.com/200x200" alt="">
        </label>
    </li>
    <li>
        <input type="checkbox">
        <label for="">
            <img src="https://via.placeholder.com/200x200" alt="">
        </label>
    </li>
    <li>
        <input type="checkbox">
        <label for="">
            <img src="https://via.placeholder.com/200x200" alt="">
        </label>
    </li>
</ul>