$tile-bg-color: #c1e1ec;
$tile-hover-color: #5b8fa0;

/* CSS for the list tile view */
mat-grid-tile {
    background: $tile-bg-color;
}

mat-grid-tile:hover {
    background: $tile-hover-color;
}

.tile-icon {
    font-size: 20px;
}

img {
  width: 80%;
  height: 90%;
}

div.feature-container {
    display: flex;
    flex-direction: column;
}