<app-submit-form></app-submit-form>

<h3>Item List</h3>
<!-- List items determine the number of tiles-->
<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        1
        <!-- <div class="img-container">

        </div>
    <div class="feature-container">
        <i class="material-icons tile-icon">delete</i>
        <i class="material-icons">edit</i>
    </div> -->
    </mat-grid-tile>
    <mat-grid-tile>
        2
    </mat-grid-tile>
    <mat-grid-tile>
        3
    </mat-grid-tile>
    <mat-grid-tile>
        4
    </mat-grid-tile>
</mat-grid-list>
