<h3>Item Submit Form</h3>
<div class="form-container">
        <div class="example-container">
                <mat-form-field>
                  <input matInput placeholder="Item Name">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Item Link">
                </mat-form-field>

                <mat-form-field>
                    <textarea matInput placeholder="Description"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <textarea matInput placeholder="Notes"></textarea>
                </mat-form-field>

                <mat-form-field>
                  <mat-select placeholder="Select">
                    <mat-option value="option">Food</mat-option>
                    <mat-option value="option">Drinks</mat-option>
                    <mat-option value="option">Cleaning</mat-option>
                    <mat-option value="option">Hygiene</mat-option>
                    <mat-option value="option">Toiletries</mat-option>
                    <mat-option value="option">Cooking</mat-option>
                    <mat-option value="option">Supplies</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-radio-group aria-label="Select an option">
                    <p>Priority</p>
                        <mat-radio-button value="1">Meh</mat-radio-button>
                        <mat-radio-button value="2">Want it</mat-radio-button>
                        <mat-radio-button value="3">Need it</mat-radio-button>
                        <mat-radio-button value="4">Gotta Have it</mat-radio-button>
                      </mat-radio-group>

              </div>
</div>


<h3>Item List</h3>
<!-- List items determine the number of tiles-->
<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        1
        <!-- <div class="img-container">

        </div>
    <div class="feature-container">
        <i class="material-icons tile-icon">delete</i>
        <i class="material-icons">edit</i>
    </div> -->
    </mat-grid-tile>
    <mat-grid-tile>
        2
    </mat-grid-tile>
    <mat-grid-tile>
        3
    </mat-grid-tile>
    <mat-grid-tile>
        4
    </mat-grid-tile>
</mat-grid-list>
