$tile-bg-color: #c1e1ec;
$tile-hover-color: #5b8fa0;

mat-grid-tile {
    background: $tile-bg-color;
}

mat-grid-tile:hover {
    background: $tile-hover-color;
}

.tile-icon {
    font-size: 20px;
}

div.img-container {
    display: block;
    height: 80%;
    width: 80%;
    border: 1px solid #ffffff;
}
div.feature-container {
    display: flex;
    flex-direction: column;
}