.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.login-input-container {
    display: flex;
    flex-direction: column;
  }
  
  .login-input-container > * {
    width: 100%;
  }