<h2>Account Management View</h2>
<p>On this page, you can manage your roommates and locations.</p>

<h4>Roomate List</h4>
<!-- <mat-form-field>
  <mat-label>Roommates</mat-label>
  <mat-select>
    <mat-option *ngFor="let mate of roommates" [value]="mate.value">
      {{mate.name}}
    </mat-option>
  </mat-select>
</mat-form-field> -->
<ul>
    <li *ngFor="let mate of roommates">
        <p>{{mate.name}}</p>
    </li>
</ul>

<h4>Add a Roommate</h4>
<p>Roommate Name: {{roommateName}}</p>
        <mat-form-field class="example-full-width">
          <input [(ngModel)]="roommateName" matInput placeholder="Favorite food" value="{{roommateName}}" placeholder="Roommate's name" (keyup.enter)="addRoommate()">
        </mat-form-field>
        <button (click)="addRoommate()">Add Roommate</button>

<h4>Locations List</h4>
<ul>
    <li *ngFor="let place of places">
        <p>{{place.address}}</p>
    </li>
</ul>

<h4>Add a Location</h4>

<h4>Add a place!</h4>
<p>Place Address: {{placeAddress}}</p>
<p>Place Link: <a href="http://{{placeLink}}" target="_blank">{{placeLink}}</a></p>
<div class="place-input-container">
    <mat-form-field class="example-full-width">
        <input [(ngModel)]="placeAddress" matInput placeholder="Favorite food" value="{{roommateName}}" placeholder="Roommate's name" (keyup.enter)="addPlace()">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input [(ngModel)]="placeLink" matInput placeholder="Favorite food" value="{{placeLink}}" placeholder="Store link" (keyup.enter)="addPlace()">
    </mat-form-field>
    <button (click)="addPlace()">Add Place</button>
</div>