<h2>Account Management View</h2>
<p>On this page, you can manage your roommates and locations.</p>

<h4>Roomate List</h4>
<!-- <mat-form-field>
  <mat-label>Roommates</mat-label>
  <mat-select>
    <mat-option *ngFor="let mate of roommates" [value]="mate.value">
      {{mate.name}}
    </mat-option>
  </mat-select>
</mat-form-field> -->
<ul>
    <li *ngFor="let mate of roommates">
        <p>{{mate.name}}</p>
    </li>
</ul>

<h4>Add a Roommate</h4>
<p>Roommate Name: {{roommateName}}</p>
        <mat-form-field class="example-full-width">
          <input [(ngModel)]="roommateName" matInput placeholder="Favorite food" value="{{roommateName}}" placeholder="Roommate's name" (keyup.enter)="addRoommate()">
        </mat-form-field>
        <button (click)="addRoommate()">Add Roommate</button>

