<h2>Account Management View</h2>
<p>On this page, you can manage your roommates and locations.</p>

<h4>Roomate List</h4>
<!-- <mat-form-field>
  <mat-label>Roommates</mat-label>
  <mat-select>
    <mat-option *ngFor="let mate of roommates" [value]="mate.value">
      {{mate.name}}
    </mat-option>
  </mat-select>
</mat-form-field> -->
<ul>
    <li class="roommate-list-item" *ngFor="let mate of roommates$">
        <p>{{mate.name}}</p>
    </li>
</ul> 

<h4>Add a Roommate</h4>
<p>Roommate Name: {{roommateName}}</p>
        <mat-form-field class="example-full-width">
          <input [(ngModel)]="roommateName" matInput placeholder="Favorite food" value="{{roommateName}}" placeholder="Roommate's name" (keyup.enter)="addRoommate()">
        </mat-form-field>
        <button (click)="addRoommate()">Add Roommate</button>

<h4>Locations List</h4>
<ul>
    <li *ngFor="let locale of locations$">
        <p>{{locale.name}}<br>Address: {{locale.address}}</p>
    </li>
</ul>

<h4>Add a location</h4>
<p>Location Name: {{locationName}}</p>
<p>Location Address: {{locationAddress}}</p>
<p>Location Link: <a href="http://{{locationLink}}" target="_blank">{{locationLink}}</a></p>
<div class="location-input-container">
    <mat-form-field class="example-full-width">
        <input [(ngModel)]="locationName" matInput value="{{locationName}}" placeholder="Store Name" (keyup.enter)="addLocation()">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input [(ngModel)]="locationAddress" matInput value="{{locationAddress}}" placeholder="Store Address" (keyup.enter)="addLocation()">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input [(ngModel)]="locationLink" matInput value="{{locationLink}}" placeholder="Store link" (keyup.enter)="addLocation()">
    </mat-form-field>
    <button (click)="addLocation()">Add Location</button>
</div>