ul {
    list-style-type: none;
    padding-left: 0px;
}

div.place-input-container {
    width: 400px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 40px;
}

div.place-input-container > * {
    display: block;
    margin: 10px 0px;
}