<h2>Profile View</h2>
On this page, you can view your roommates, locations and recipes
<h3>Current Roommates</h3>
<ul>
    <li class="roommate-list-item" *ngFor="let mate of roommates">
        <p>{{mate.name}}</p>
    </li>
</ul>

<h3>Locations</h3>
<ul>
  <li *ngFor="let locale of locations">
     <p><b>{{locale.name}}</b></p>
     <p>{{locale.address}}</p>
  </li>
</ul>

<a routerLink="/account">Edit roommates and locations</a>

<h3>Current Recipes</h3>
<ul>
    <!-- Should display with an icon of the item you're making. 
        Use an omelet as an example. 
        Maybe include 3 items from the list-->

        <li *ngFor="let recipe of recipes$" class="recipe-list-item">
            <p>{{recipe.name}}</p>
            <button mat-button color="primary" (click)="addRecipe(recipe)">Add to list</button>
        </li>
</ul>

<h3>Previous Shopping Lists</h3>
<!-- Should display with a saved date and a preview of the list. Maybe include 3 items from the list-->

<!-- Adding a previous shopping list should ask whether you want to delete current items before adding the list. 
    Otherwise, just add it on top of the items that are already listed! -->

    <!-- Will implement this after the base project works. -->
<ul>
    <li>List 1</li>
    <li>List 2</li>
    <li>List 3</li>
</ul>




