<h2>Profile View</h2>

<h3>Roommates and Locations</h3>

<p><b>Roommates</b></p>
<ul>
    <li *ngFor="let mate of roommates">
        <p>{{mate.name}}</p>
    </li>
</ul>

<p><b>Locations</b></p>
<ul>
  <li *ngFor="let locale of locations">
     <p><b>{{locale.name}}</b></p>
     <p>{{locale.address}}</p>
  </li>
</ul>

<a routerLink="/account">Edit roommates and locations</a>

<h3>Current Recipes</h3>
<ul>
    <!-- Should display with an icon of the item you're making. 
        Use an omelet as an example. 
        Maybe include 3 items from the list-->
    <li>Recipe 1</li>
    <li>Recipe 2</li>
    <li>Recipe 3</li>
</ul>

<h3>Previous Shopping Lists</h3>
<!-- Should display with a saved date and a preview of the list. Maybe include 3 items from the list-->

<!-- Adding a previous shopping list should ask whether you want to delete current items before adding the list. 
    Otherwise, just add it on top of the items that are already listed! -->
<ul>
    <li>List 1</li>
    <li>List 2</li>
    <li>List 3</li>
</ul>




