<h3>Item Submit Form</h3>

<div class="submit-form-container">
    <!-- Form below uses ngModel to create the object which can be submitted once the required forms are filled in. -->
    <form>
        <div class="submit-input-container">
                <mat-form-field class="form-group">
                  <input class="form-control" name="name" matInput placeholder="Item Name" required [(ngModel)]="_item.name">
                </mat-form-field>

                <mat-form-field class="form-group">
                    <input class="form-control" name="link" matInput placeholder="Link" required [(ngModel)]="_item.link">
                </mat-form-field>

                <mat-form-field class="form-group">
                        <input class="form-control" name="image" matInput placeholder="Item Image" required [(ngModel)]="_item.image">
                    </mat-form-field>

                <mat-form-field class="form-group">
                    <textarea class="form-control" name="description" matInput placeholder="Description" required [(ngModel)]="_item.description"></textarea>
                </mat-form-field>

                <mat-form-field class="form-group">
                    <textarea class="form-control" name="price" matInput placeholder="Item Price" [(ngModel)]="_item.price"></textarea>
                </mat-form-field>

                <mat-form-field class="form-group">
                    <textarea class="form-control" name="note" matInput placeholder="Note" [(ngModel)]="_item.note"></textarea>
                </mat-form-field>

                <mat-form-field class="form-group">
                    <mat-select class="form-control" name="roommate" placeholder="Select a roommate" required [(ngModel)]="_item.orderedBy">
                        <!-- mat loops through an array of Roommates-->
                          <mat-option *ngFor="let mate of roommates" [value]="mate.name">{{mate.name | titlecase}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                <mat-form-field class="form-group">
                  <mat-select class="form-control" name="category" placeholder="Select a category" required [(ngModel)]="_item.category">
                      <!-- mat loops through an array of categories-->
                        <mat-option *ngFor="let category of _categories" [value]="category">{{category | titlecase}}</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-radio-group class="form-group" name="priority" aria-label="Select an option" [(ngModel)]="_item.priority">
                    <p>Priority</p>
                        <mat-radio-button class="form-control" value="1">Meh</mat-radio-button>
                        <mat-radio-button class="form-control" value="2">Want it</mat-radio-button>
                        <mat-radio-button class="form-control" value="3">Need it</mat-radio-button>
                        <mat-radio-button class="form-control" value="4">Gotta Have it</mat-radio-button>
                      </mat-radio-group>

        </div>
        <button type="submit" mat-raised-button (click)="submitItem()">Submit</button>
    </form>
</div>
<!-- Displays preview of item with the name, link, image and category properties-->
<div class="item-preview-container">
    <h3>Item Preview</h3>
    <p><b>{{_item.name | titlecase}}</b></p>
    <!-- Produces placeholder image until non-broken image link is provided. Source: https://stackoverflow.com/questions/36429903/angular-2-check-if-image-url-is-valid-or-broken-->
    <img class="preview-img" src="{{_item.image}}" onError="this.src='https://via.placeholder.com/200x200'" alt="_item.name">
    <p>Description</p>
    <p>{{_item.description}}</p>
    <p>Category: {{_item.category | titlecase}}</p>
    <p>Priority: {{_item.priority}}</p>
    <p>Price: {{_item.price}}</p>
    <p>Note</p>
    <p>{{_item.note}}</p>
    <p>{{_item.orderedBy}}</p>
    <p>{{_item.priority}}</p>
    <p>Here's a link to the <a href="{{_item.link}}" target="_blank">item</a></p>
</div>


