<!--The content below is only a placeholder and can be replaced.-->
<app-nav></app-nav>
  <!-- <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Favorite food" value="Sushi">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Leave a comment"></textarea>
    </mat-form-field>
  </form> -->
  <button mat-button>Click me!</button>
<div class="container">
  <h1>{{ title }}!</h1>

  <router-outlet></router-outlet>
</div>