<app-detail [item]="selectedItem"></app-detail>

<!-- List items determine the number of tiles-->
<div class="price-container">
    <p>PRICE: {{this.totalPrice}}</p>
</div>

<h3>Item List</h3>
<div class="list-container">
<mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile *ngFor="let item of items$; let i=index;" (click)="displayItem(item)">     
                <img src="{{item.image}}" alt="{{item.name}}">
            <div class="feature-container">
                <i class="material-icons tile-icon" (click)="removeItem($event, item.id, i)">delete</i>
                <i class="material-icons tile-icon" (click)="editItem($event, item.id)">edit</i>
            </div>
        </mat-grid-tile>
</mat-grid-list>
</div>
