$tile-bg-color: #c1e1ec;
$tile-hover-color: #5b8fa0;
$curved-border: 10px;

/*Variables for media queries */
$before-mobile-width: 792px;
$mobile-width: 412px;

h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* CSS for the list tile view */
div.list-container {
    padding-left: 15%;
    padding-right: 15%;
    @media (max-width: $before-mobile-width) {
        padding-left: 0px;
        padding-right: 0px;
    }
    @media (min-width: $before-mobile-width + 1) and (max-width: 992px) {
        padding-left: 10%;
        padding-right: 10%;
    }
}

.mat-grid-tile {
    background: $tile-bg-color;
    // max-height: 300px;
    // max-width: 600px;
}

mat-grid-tile:hover {
    background: $tile-hover-color;
}

i.tile-icon {
    font-size: 50px;
    cursor: pointer;
    @media (max-width: $before-mobile-width) {
        font-size: 40px;
    }

    @media(max-width: $mobile-width) {
        font-size: 30px;
        margin-top: 4px;
        margin-bottom: 4px;
    }
}

i.tile-icon:nth-child(2n) {
    margin-top: 4px;
    margin-bottom: 4px;
    @media(max-width: $before-mobile-width) and (min-width: $mobile-width) {
        margin-top: 20px;
        margin-bottom: 20px;
    }

}

.edit-icon {
    @media(max-width: $before-mobile-width) {
        display: none;
    }
}

img {
    width: 80%;
    height: 90%;
    border-radius: $curved-border;
}

div.feature-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin-left: 4px;
}