<h2>Registration</h2>
<div class="form-container">
    <div class="register-input-container">
        <mat-form-field>
            <input matInput placeholder="Username">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Email">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Password">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Re-enter Password">
        </mat-form-field>
    </div>
    <button mat-button>Register</button>
</div>

<p>Already have an account?</p>