$side-nav-break: 600px;
$header-nav-large: 1300px;
$toolbar-nav-item-color: #ffffff;

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.app-title {
  margin-right: 160px;
}

.md-nav-item {
  flex: 1 1 auto;

  a {
    text-decoration: none;
    color: $toolbar-nav-item-color;
  }
}

  @media(max-width: $side-nav-break) {
    .md-nav-item {
      display: none;
    }
}

.mat-toolbar{
  span {
      @media (max-width: 1052px) and (min-width: $side-nav-break + 1) {
        margin-right: 5px;
      }
      @media(max-width: $header-nav-large) and (min-width: $side-nav-break + 1) {
        a {
          font-size: 16px;
        }
    }
  }
}
