<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="main">Main Menu</a>
      <a mat-list-item routerLink="submit">Submit</a>
      <a mat-list-item routerLink="register">Register</a>
      <a mat-list-item routerLink="login">Login</a>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">clear</mat-icon>
      </button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="app-title">
        Shopping Application
      </span>
      <span class="md-nav-item">
        <a routerLink="main">Main Menu</a>
      </span>
      <span class="md-nav-item">
        <a routerLink="submit">Submit</a>
    </span>
      <span class="md-nav-item">
          <a routerLink="register">Register</a>
      </span>
      <span class="md-nav-item">
          <a routerLink="login">Login</a>
      </span>

    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
